# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Es-5 compiled directory
lib

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Test artifacts
test-app

# Coverage report
coverage
