<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma-CSS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
      <section class="hero is-link">
          <div class="hero-body">
            <div class="container" style="text-align:center;">
              <h1 class="title" style="font-size:3.2em;">
                Bulma-css
              </h1>
              <br />
              <p class="subtitle" style="font-size: 1.6em;">Edit <span style="color:#900; font-weight:bold;">index.html</span> to start with</p>
            </div>
          </div>
        </section>
    <script src="dist/main.js"></script>  
  </body>
</html>