<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
</head>
<body style="background-color:floralwhite;">
	<div style="text-align:center;">
		<img src="https://pluralsight.imgix.net/paths/path-icons/css-c9b214f0d7.png" />
		<h1>No CSS Frameworks</h1>
		<p style="font-size:1.2em;"> Get started by editing <code style="font-weight:bolder;">index.html</code> </p>
	</div>
  <script src="dist/main.js"></script>
</body>
</html>